@media screen and (max-width: 768px)
  // App
  .site-mobile-shade
    position fixed
    top 0
    right 0
    width 100%
    height 100%
    background-color rgba(0,0,0,.8);
    z-index 101
  .doc-aside
    position fixed
    top 0
    left 0
    z-index 102
    width 220px
  .aside-link
    font-size 14px

  // Home
  .title
    font-size 20px
  .sub-title
    font-size 12px
  .title-note
    font-size 10px

  // ShowCode
  .show-code
    flex-flow column wrap
  .show-panel, .code-panel
    width 100%
  .code-panel
    margin-top 15px
    margin-left 0
  .phone-panel
    width 98%
    height 150px

  // DatePicker
  .table-panel
    overflow-x scroll
  .date-table
    width 300%
